/* Estilo para o corpo da página */ 
input {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    box-shadow: #000000 0px 0px 2px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(185, 59, 59);
}

footer {
    display: flex;
    background-color: rgb(244, 244, 244);
    padding: 10px;
    text-align: center;
    color: #0b0b0b;
    font-family: 'Arial', sans-serif;
    font-size: 10px;
}
/*--------------cabeçalho do site--------------*/
header {
    background-color: rgb(255, 255, 255);
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-button {
    display: flex;
    position: relative;
        left: 85%;
        top: -70px;
    

    font: inherit;
    background-color: #f0f0f0;
    border: 0;
    color: #242424;
    border-radius: 0.5em;
    font-size: 1.35rem;
    padding: 0.375em 1em;
    font-weight: 600;
    text-shadow: 0 0.0625em 0 #fff;
    box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
        0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
        0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
    transition: 0.15s ease;
    cursor: pointer;
}
.login-button:active {
    translate: 0 0.225em;
    box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
        0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
        0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}

.explode-btn {
    font-size: 50px;
    background-color: transparent;
    border: transparent;
    margin-bottom: 1%;

    /* Animação de explosão */
    cursor: pointer;
    transition: 0.3s;
    

}
.explode-btn:active {
    transform: scale(0.8, 0.8); /* aumenta levemente */
}


.omni {

    display: block;
    position: relative;
        left: -10%;
    
}

.theboys {
    display: block;
    position: relative;
    left: -12%;

}

/* -------------Menu de Botoes---------------*/
.menu-button {
    display: flex;
  cursor: pointer;
  transition: 0.3s; /* ativa a animação */
}

.menu-button:active {
    display: flex;
    background: #e6210b;
    transform: scale(0.8, 0.8); /* aumenta levemente */
}

.menu {
    display: flex;
    gap: 270px;
}

.menu{
    display: flex;
    background-color: rgb(187, 187, 187);
    padding: 20px 100px;
    
}

.menu-button{
    display: flex;
    background-color: rgb(186, 19, 1);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 4px solid rgb(252, 32, 8);
    border-style: outset;
    box-shadow: #000000 0px 0px 10px;
    
    
    font-family: 'Arial', sans-serif;
    text-decoration: none;
}

  

/* Estilo para o conteúdo principal */
.content {
    display: flex;
    margin-top: 80px;

    height: 30vh;
    width: 30%;

    background-color: rgb(209, 209, 209);
    color: #0b0b0b;
    font-family: 'Arial', sans-serif;
    font-size: 18px;


    border-radius: 4px;
    border: 5px solid rgb(241, 241, 241);
    border-width: 10px;
    border-style: outset;
    box-shadow: #000000 0px 0px 10px;

    cursor: pointer;
    transition: 0.3s;
    
 }
 .content-title{
    text-align: center; 
 }

.content:hover {
    transform: scale(1.05, 1.1);
    
}

.content2 {
    display: flex; 
    margin-top: 80px;

    height: 30vh;
    width: 30%;

    background-color: rgb(209, 209, 209);
    color: #0b0b0b;
    font-family: 'Arial', sans-serif;
    font-size: 18px;


    border-radius: 4px;
    border: 5px solid rgb(241, 241, 241);
    border-width: 10px;
    border-style: outset;
    box-shadow: #000000 0px 0px 10px;
    cursor: pointer;
    transition: 0.3s;
    
 } 
 .content2:hover {
    transform: scale(0.9); 
    }
 .content2-title {
    text-align: center; 
 } 


.geral {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

